
:root {
    --dark-brown: #311F1B;
    --light-brown: #916954;

}
* {
    box-sizing: border-box;
    padding:0;
    margin:0;

    }


body {

    font-family: Serif,"Times New Roman";
}
p{
    font-family: monospace, "Courier New";
}
.menu-bar{
    background: var(--light-brown);
    text-align: center;
    height:5%;
    width:100%;
    z-index:6 ;

}
.menu-bar ul {
    display:inline-flex;
    list-style:none;
    color:white;

}
.menu-bar ul li{
    width:100px;
    margin:2%;
    padding: 2%;

}
.menu-bar ul li a{
    text-decoration: none;
    color:white;
}
.active,.menu-bar ul li:hover{
    background:var(--dark-brown);
    border-radius: 3px;

}
.sub-menu-1{
    display:none;
}
.menu-bar ul li:hover .sub-menu-1{
    display:block;
    position:absolute;
    background:var(--light-brown);
    margin-top:15px;
    margin-left:-15px;


}
.menu-bar ul li:hover .sub-menu-1 ul{
    display:block;
    margin:10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width:150px;
    padding:10px;
    border-bottom:1px dotted white;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom:none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color:var(--dark-brown);
}

button a{
    text-decoration: none;
    color:white;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

}
.container-md{
    margin-bottom: 50%;
}
{
    background: var(--dark-brown);
}
aside{
    width: 30%;

    float: right;

    margin-top: 10%;
    padding-left: 4%;


}


img{
    width:70%;
}
.lipsbanner{
    width:100%;

}

.second-header-text,.second-header{
    display: inline-block;
    vertical-align: middle;
}


.card img{
    width:100%;
    height:35vw;
    object-fit:cover;

}
nav {
    margin: 27px auto 0;

    position: relative;
    width: 590px;
    height: 50px;
    background-color: var(--dark-brown);
    border-radius: 8px;
    font-size: 0;
}
nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}
nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}
a:nth-child(1) {
    width: 100px;
}
a:nth-child(2) {
    width: 110px;
}
a:nth-child(3) {
    width: 100px;
}
a:nth-child(4) {
    width: 160px;
}
a:nth-child(5) {
    width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
    background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
    width: 160px;
    left: 310px;
    background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
    width: 120px;
    left: 470px;
    background-color: #e67e22;
}


h1 {
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 30px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;

}



span {
    color: #2BD6B4;
}
#submitbtn{
    background:var(--dark-brown);
}
.checked {
    color: var(--dark-brown);
}
.container-sm{
    width:200%;
}
asi
.card-group{
    height: 5rem;


}
.card-deck {
    padding: 5%;

}
footer {
    background-color: var(--dark-brown);
    clear: both;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;


}
footer p {
    text-align: center;
    color: white;
    font-size: 90%;
    padding-top: 0.5%;
    padding-bottom: 0%;

}
body {
    background: #f4f4f4;
}

.banner {
    background: #311F1B;
    background: -webkit-linear-gradient(to right, #311F1B, #916954, white);
    background: linear-gradient(to right, #311F1B, #916954, white);
}
.btn-custom {
    background-color: red;
}
